h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    text-decoration-style: wavy;
    color: rgb(252, 84, 18);
    text-shadow: 2px 2px 4px #000000
}

body {
    
    font-family: 'Montserrat', sans-serif;     
       
}

body nav, h1 {
    margin-left: 2%;
    padding:2%;
}


#submitCoins:hover {
    background-color: green;
    color: white;
    border-radius: 6px;
}



#exit:hover {
    background-color: red;
    color: white;
    border-radius: 6px;
    width: 14%;
}

#section, .row {
    text-align: center;
    padding-left: 10px;
}

/*caja interior de la sección, que contendrá 3 ítems dispuestos en horizontal*/
#section ul {
    display: flex;
    align-items: inline;
    margin: auto;
    width: 1000px;
    height: 299px;
    padding: 1px;

    
}

input[type=number]{
    background-color:peru;
}

#section ul .box {
    list-style-position: inside;
    border-radius: 20px;
    margin: auto;
    width: 221px;
    height: 253px;
    padding: 1rem;
    background-color:whitesmoke;
    opacity: 0.7;   
}

#section ul div img {
    position: relative;
    margin: auto;
    width: 200px;
}

.palanca {
    border: none;
    list-style-position: inside;
    width: 221px;
    height: 253px;
    background: transparent;
}

#palanca img {
    padding: 18px;
}